<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../static/main/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>
<body>
	<div class="nav-bar" id="nav">
	<img src="../../static/main/images/logo.svg" >
	<!-- <li><a href="#" style="color: #FFFFFF;">ADMIN</a></li> -->
		<div id="nav-li">
			<ul id="navli">
			<!-- <img src="../../static/main/images/search.png"> -->
			<li><i class="fa fa-search fa-lg" style="position: absolute;left: 20%;top: 34%;width: 6%;font-size: 20px;"></i></li>
			<!-- <i class="fa fa-bell fa-lg" style="position: absolute;left: 20%;top: 28%;"></i> -->
			<li><img src="../../static/main/images/Vector.svg" style="position: absolute;left:35%;top: 5px;"></li>
			<li><p style="position: absolute;left: 55%;font-size: 18px;top:-4px;">ADMIN</p></li>
			<li><img src="../../static/main/images/profile.svg" style="position: absolute;left:80%;height: 108%;"></li>
			</ul>
		</div>
	</div>
	<div class="home-bar">
		<!-- <div id="home-li"> -->
			<ul id="home-li" style="display:flex;text-align:center;line-height: 20px;">	
				<li>
					<a href="#">
						<div class="Icon">
							<i class="fa fa-home fa-lg"></i>
							<span style="color: antiquewhite;">Home</span>

						</div>
					</a>
				</li>	
				<li>
					<a href="#">
						<div class="Icon">
							<i class="fa fa-area-chart fa-lg"></i>
							<span style="color: antiquewhite;">Dashboard</span>

						</div>
					</a>
				</li>
				<li>
					<a href="#">

						<div class="Icon">
							<i class="fa fa-cogs fa-lg"></i>
							<span style="color: antiquewhite;">Waveguides</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#">

						<div class="Icon">
							<i class="	fa fa-file-code-o fa-lg"></i>
							<span style="color: antiquewhite;">Results</span>
						</div>
					</a>
				</li>
				
			</ul>
		<!-- </div> -->

	</div>
	<!-- <div class="" -->
</body>
</html>