<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - lookup table</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="../../static/main/css/main.css">
		<style>
			body {
				background-color: #fff;
				color: #444;
			}
			a {
				color: red;
			}
			.label {
				/* text-shadow: -1px 1px 1px rgb(0,0,0); */
				text-shadow: none;
				margin-left: 25px;
				font-size: 19px;
				font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
				color: black;
			}
		</style>
	</head>
	<body>

		<div id="info">
			<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> webgl - lookup table<br/>
			vertex color values from a range of data values
		</div>

		<div id="container"></div>

		<script type="module" src="../../static/main/js/xyma_3sensor.js">
		</script>

	</body>
</html>